body
 {
  font-family:fantacy;
 }
fieldset
 {
  box-shadow:2px 2px 5px black;
  width:450px;
  background-color:gray;
  margin-right:20px;
  margin-left:0px;
  margin-top:170px;
  margin-bottom:5px;
  padding:20px;
  border-radius:4px 4px 4px 4px;
 }

.a1
 {
  background-color:blue;
  color:white;
  width:300px;
  border-radius:4px 4px 4px 4px;
  padding:10px;
  border:0.5px solid black;
 }
.a2
 {
  background-color:green;
  color:white;
  border-radius:4px 4px 4px 4px;
  padding:10px;
  border:0.5px solid black;
  width:150;
 }
.a3
 {
  width:300px;
  border-radius:4px 4px 4px 4px;
  padding:10px;
  border:0.5px solid black;
 }
p
 {
  font-size:15px;
 }
a
 {
  color:white;
  text-decoration:none;
 }
